@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
}
* {
  scroll-behavior: smooth;
}
/* for black tint */
.cardshadow::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}
.cardshadow::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;
}
.cardshadow:hover::before {
  transform: scaleX(1);
}

.blob-style {
  position: absolute;
  top: -25%;
  left: 2%;
  animation: blobAnimate 3s linear infinite;
  z-index: -5;
}
@keyframes blobAnimate {
  0% {
    top: -10%;
    left: 2%;
  }
  50% {
    top: 60%;
    left: 56%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -10%;
    left: 2%;
  }
}
.skills-logo {
  width: 70px;
  transition: all 0.5s;
}
.skills-logo:hover {
  transform: scale(1.2);
}

.span2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ff6600;
  font-weight: 900;
}
.span1 {
  background: linear-gradient(to right, #e7005e, #ff9d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
